default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: library_management_development

test:
  <<: *default
  database: library_management_test

production:
  <<: *default
  database: library_management_production
  username: library_management
  password: <%= ENV['YOUR_PROJECT_NAME_DATABASE_PASSWORD'] %>
