/*header*/
header {
  margin-bottom: 20px;
}

/*footer*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.needs-validation .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
}

.needs-validation .form-control:valid {
  border-color: #28a745;
}

.alert {
  margin-top: 20px;
  position: relative;
}

/*pages*/
.mb-custom{
  margin-bottom: 100px;
}

.alert.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}


